// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NEO_ALPHA 1
#define NEO_EXTRA 2
#define NUMBERS 3
#define CONTROLS 4
#define BTCTL 5

&lt {
    tapping-term-ms = <100>;
    flavor = "balanced";
};

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q        │  W        │  E        │  R         │  T        │    │  Y       │  U         │  I        │  O         │  P        │
            &kp Q      &kp W      &kp E      &kp R      &kp T                 &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A         │  S        │  D        │  F        │  G         │   │  H        │  J        │  K        │  L         │ ' "       │
            &kp A       &ht LALT S  &ht LCTRL D &kp F     &kp G               &kp H       &kp J       &ht LCTRL K &ht LALT L    &ht SINGLE_QUOTE SEMICOLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z        │  X         │  C        │  V        │  B         │  │  N         │  M        │ , <       │ . >        │ / ?       │
            &ht LGUI Z    &kp X      &kp C      &kp V      &kp B                 &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                         &lt CONTROLS BSPC   &kp LSHFT     &lt NUMBERS SPACE  &ht CAPS ENTER
        //                                     ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        neo_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│           │           │            │           │           │    │           │           │            │           │           │
            &kp X      &kp V        &kp L           &kp C      &kp W            &kp K      &kp H         &kp G      &kp F        &kp Q
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│            │           │           │          │            │   │            │           │            │           │           │
            &kp U       &ht LALT I    &ht LCTRL A       &kp E     &kp O         &kp S     &kp N      &ht LCTRL R    &ht LALT T   &ht Z D
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│           │           │           │            │           │    │           │           │           │            │           │
            &kp LBKT  &kp SEMICOLON &kp SINGLE_QUOTE  &kp P        &kp Y         &kp B          &kp M      &kp COMMA  &kp DOT       &kp J
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                       &lt CONTROLS BSPC   &kp LSHFT        &lt 3 SPACE  &lt NEO_EXTRA ENTER
        //                                     ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };


        neo_extra {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│   …       │   _       │   [        │     ]     │     ^     │    │    !      │    <      │     >      │   =       │    &      │
            &kp F1      &kp QUESTION  &kp RA(N8)  &kp RA(N9)   &kp GRAVE        &kp EXCLAMATION  &kp PIPE &kp LS(PIPE) &kp LS(N0) &kp LS(N6)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     \      │     /     │    {      │     }    │      *     │   │    ?       │       (   │      )     │     -     │     :     │
            &kp RA(MINUS) &kp LS(N7) &kp RA(N7) &kp RA(N0)  &kp RBRC      &kp LS(MINUS) &kp LS(N8) &kp LS(N9)    &kp FSLH  &kp LS(DOT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│   #       │     $     │     |     │    ~       │    `      │    │    +      │    %      │    "      │     '      │   ;       │
            &kp BSLH  &kp LS(N4)    &kp PIPE    &kp RA(RBKT)   &kp PLUS         &kp RBKT   &kp LS(N5)   &kp LS(N2)   &kp LS(BSLH) &kp LS(COMMA)
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans      &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        number_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│           │           │            │           │           │    │           │           │            │           │           │
            &kp GRAVE    &trans     &kp PG_UP     &kp PG_DN     &trans         &kp LCTRL   &kp N7       &kp N8       &kp N9     &kp LBKT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│            │           │           │          │            │   │            │           │            │           │           │
            &trans      &trans     &kp PLUS     &kp MINUS     &kp BSPC         &kp COMMA       &kp N4      &kp N5        &kp N6   &kp SINGLE_QUOTE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│           │           │           │            │           │    │           │           │           │            │           │
           &to BTCTL  &tog NEO_ALPHA &kp ASTRK     &kp SLASH     &trans         &kp DOT     &kp N1     &kp N2       &kp N3       &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                 &kp BSPC     &kp LSHFT        &trans     &kp N0
        //                                     ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        control_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│           │           │            │           │           │    │           │           │            │           │           │
            &kp F1      &kp F2        &kp F3      &kp F4      &kp F5            &kp F6      &kp F7      &kp F8      &kp F9        &kp F10
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│            │           │           │          │            │   │            │           │            │           │           │
            &kp F11       &kp LALT    &kp LCTRL    &kp ESC    &kp TAB         &kp LEFT    &kp DOWN      &kp UP      &kp RIGHT   &kp F12
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│           │           │           │            │           │    │           │           │           │            │           │
           &trans         &trans        &trans       &trans     &trans      &kp HOME  &kp TAB       &kp DEL     &kp END       &kp PRINTSCREEN
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &trans        &trans              &kp LSHFT     &trans
        //                                     ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        

        bt_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
            &sys_reset     &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans      &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &to DEFAULT         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
